/* @import url('https://fonts.googleapis.com/css2?family=Blinker&display=swap'); */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-cont{
  
  width:100%;
}

.header-logo{
  
  height:100px;
  width:100px;
  margin: -25px 0;
}

.headr{
  background:rgb(255, 255, 255) !important;
  min-height:10vh;
}

.header-right{
  margin-left:auto;
  margin-right:5px;
}
