.course-det-total{
    background:#171717;
}

.course-det-cont{
    padding:30px;
    
}

.course-det-cont h4{
    color:rgb(200, 200, 200);
    text-transform:capitalize;
}
.course-det-cont hr{
    background-color:rgb(200, 200, 200);
}


.course-det-head h3{
    padding-top:10px;
    color:rgb(226, 226, 226);
}
.course-det-head hr{
    background-color:rgb(226, 226, 226);
}

.course-det-video{
    display:flex;
    align-items: center;
    justify-content:center;
    height:30vh;
    
}

.course-det-video video{
    height: 100%;
    width:100%;
    padding:0 30px;
   
}


.course-det-description{
    color:rgb(200, 200, 200);
    padding:40px 0px 0px 30px;
    
}


.course-det-features{
    color:rgb(200, 200, 200) ;
    padding:30px;
}


.course-det-features ul{
    color:rgb(200, 200, 200);
    padding-left:30px;
}

.course-det-rating{
    padding-left:30px;
}
.course-det-rating label{
    color:rgb(200, 200, 200);
    padding-right:10px;
}
.course-det-rating select{
    background-color:rgb(200,200,200);
}


@media screen and (min-width:1150px){
    .course-det-cont{
        margin:0 15%;
       
    }
    
}

@media screen and (min-width:700px){
    .course-det-video{
        height: 50vh;
    }
}